@*@model IEnumerable<prueba_tecnica.crudUsuarioResult>*@
@model IEnumerable<prueba_tecnica.Models.UsuarioClass>
@{
    ViewBag.Title = "Index";
}



<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Tabla de usuarios</h4>
                    <p>
                        @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
                    </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">


                        <table class="table">
                            <tr>

                                <th>
                                    id
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Correo
                                </th>
                                <th>
                                    Rol
                                </th>
                                <th>
                                    Membresia
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr id="tr_@item.tipousuario.idUsuario">

                                    <td>@item.tipousuario.idUsuario</td>
                                    <td>@item.tipousuario.nomUsuario</td>
                                    <td>@item.tipousuario.apeUsuario</td>
                                    <td>@item.tipousuario.correo</td>
                                    <td>@item.tiporol.tiporol</td>
                                    <td>@item.tipoMembresia.tipoMembresia</td>
                                    <td>
                                        @if (item.tiporol.tiporol == "Administrador")
                                        {
                                            <a href="@Url.Action("Edit", "Usuario", new { id = item.tipousuario.idUsuario })" class="btn btn-info">Editar</a>
                                            <a href="@Url.Action("Details", "Usuario", new { id = item.tipousuario.idUsuario })" class="btn btn-info">Detalles</a>
                                            

                                            <input data-idusuario="@item.tipousuario.idUsuario" class="btn btn-danger btneliminarusuario" type="button" value="Borrar" />
                                         }




                                    </td>




                                </tr>

                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {

            $(".btneliminarusuario").on("click", function () {
                var closest = $(this).closest('tr');
                var id = $(this).data("idusuario")
                console.log(id);
                if (confirm("Estas seguro de eliminar este usuario?")) {

                var url = "@Url.Action("BorrarPersona", "Usuario")";

                var data = { id: id }
                console.log(data);
                $.post(url, data,
                    function (data, status) {
                        my_function(data, closest);
                    });
                }
                else {
                    return false;
                }
            });

            function my_function(data,idtr) {
                // you can operate on data here
                alert(data);
                if (data == "Registro eliminado") {
                    console.log("eliminando fila");
                    idtr.remove();
                }
            }
        });






    </script>
